* {
  font-family: niveau-grotesk, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  background-color: inherit;
}

.padding {
  padding: 20px;
}

.main-container {
  width: 100%;
  max-width: 700px;
  background-color: #fffafc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(200, 200, 200, 0.2);
  margin: 20px auto;
}

.header {
  color: #292929;
  background: linear-gradient(135deg, #f7c5cc, #d4c4fb);
  padding: 20px;
  border-radius: 12px 12px 0 0;
  color: #555;
}

.header__date {
  margin: 10px 0px;
  text-transform: capitalize;
}

.header__title {
  text-transform: uppercase;
  font-size: 21px;
  color: #4f5364;
}

.header__date__day-of-the-month {
  font-size: 66px;
  line-height: 1;
  padding-left: 5px;
  color: #f9a4a7;
}

.header__date__day-of-the-week {
  padding-left: 5px;
  color: #a18cd1;
  font-size: 20px;
}

.header__date-month {
  padding-left: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #6ec6ca;
}

/* posts section  */

.posts-section__header {
  margin-bottom: 10px;
  color: #ffb6b9;
}

.posts-section__header__image {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.posts-section__header__link,
.posts-section__header__link--sub {
  text-decoration: none;
  display: inline-block;
  color: #ffb6b9;
  text-transform: capitalize;
  /* line-height: 1 */
  font-weight: normal;
  font-size: 24px;
  font-weight: 500;
}

.posts-section__header__link--sub {
  font-size: 20px;
  color: #fdf6b2;
  margin-top: 25px;
}

.post {
  margin-bottom: 15px;
  width: 100%;
  max-width: 325px;
  line-height: 1.64;
  table-layout: fixed;
  display: inline-block;
  font-weight: 500;
  background-color: #fef9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(200, 200, 200, 0.2);
}

.post--block {
  max-width: 100%;
}

.post__image {
  overflow-y: hidden;
  margin-bottom: 10px;
}
.post__image > img {
  max-width: 100%;
}

.post__title {
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #4f5364;
}

.post__meta-data {
  color: #858585;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin-right: 10px;
}

.post__meta-data--is-new {
  background-color: #c3fdb8;
  padding: 3px 8px;
  color: #4f5364;
  font-size: 9px;
  text-transform: uppercase;
  border-radius: 6px;
}

.post__meta-data-img {
  height: 12px;
  width: 12px;
}

/* footer section */

.footer-section {
  background-color: #f7c5cc;
  color: #4f5364;
  margin: 10px 10px 0px 10px;
  padding: 30px 20px 20px 20px;
  border-radius: 0 0 12px 12px;
}

.orange {
  color: #f9a4a7;
}

.footer-section__brand-name {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 648px) {
  /* do this for only mailers with media query supports */
  .post:nth-child(odd) {
    padding-right: 20px;
  }
  .post--block {
    padding-right: 0px;
  }
}

@media (max-width: 648px) {
  .post {
    width: 100%;
    max-width: 100%;
  }
  .post:nth-child(odd) {
    padding-right: 0px;
  }
}
